body {
    font-family: Arial, sans-serif;
    background-color: #ff2d2d;
    text-align: center;
    padding: 40px;
}
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 60px;
    border-radius: 10px;
}

img {
    width: 150px;
}